.wishContainer {
	padding: 32px;
	box-shadow: 0px 0px 1px 0px #eee;
	border-radius: 4px;
}

.userImage {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.textContainer {
	font-size: 20x;
};

.wishText {
	font-weight: 600;
}

.upwishContainer {
	background-color: #e6ffff;
	height: 40px;
	cursor: pointer;
	font-weight: 500;
}

.upwishButton {
	height: 24px;
	width: 24px;
	padding: 8px;
	background-color: #b3e5fc;
	transition: all 0.3s ease-out;
	text-align: center;
	color: black;
}

.upwishContainer:hover .upwishButton, .upwishButton:hover {
	background-color: #82b3c9;
	transition: all 0.3s ease-in;
}

.upwished {
	background-color: #01579b;
	transition: all 0.3s ease-in;
}

.donateButton {
	background-color: #b3e5fc;
	text-align: center;
	color: rgb(1, 87, 155);
	transition: all 0.3s ease-in;
}

.donateButton:hover {
	background-color: #01579b;
	transition: all 0.3s ease-out;
}
