.wishInput {
	border: 0px transparent;
	background: transparent;
	flex-grow: 1;
	outline: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.54);
}

.wishInput::-moz-placeholder,  {
	color: #d4d4d4;
}

.wishInput::-webkit-input-placeholder {
	color: #d4d4d4;
}

.userImage {
	width: 48px;
	border-radius: 50%;
}
