.headerContainer {
	height: 72px;
	font-size: 14px;
	font-weight: 500;
}

.navElement {
	padding: 0 16px;
	font-size:14px;
	color:#01579b;
	letter-spacing:1.08px;
}

.navElement:hover {
	text-decoration: none;
}

.active {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/wishqus-com.appspot.com/o/active-bg.png?alt=media&token=b7f98b52-cb9e-4f7d-91ec-d4acd1c866c4');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
